#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  background-color: #F9F2E0;
  /* padding: 2rem; */
  /* text-align: center; */
  /* background-image: url("/images/travel.jpg"); */
}

/* .travelimage {
he} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

.input-destination {
  width: 100%;
}

.profile-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 100px; */
}


.profile-container>div{
  margin-left: 10px;
}

/* .text-center {
  text-align: center;
  vertical-align: middle;
} */

.search-bar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: aqua; */
  /* width: 500px; */
}

.search-bar-container>div{
    margin-top: 20px;
}

.destination-container {
  display: flex;
}

.search-suggestions {
  background-color: rgba(255, 255, 255, 0.87);
  position: relative;
  display:block;
}

/* .country-search {
  display: flex;
  min-width: 500px;
  margin: 0;
  padding: 0;
} */

/* .date-picker {
  display: flex;  
} */

.holidays-table-details {
  align-items: left;
  padding: 20px;
  margin-right: 0px;
  margin-left: 20px; 
}


input[type="search"].input-destination {
  -webkit-appearance: searchfield;
}

input[type="search"].input-destination::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.logo {
  cursor: pointer;
}

/* navigation start */

.nav-container {
  margin: 1rem;
  text-align: center;
}
.nav {
  background-color:  #ecd8b2;
  color: #595549;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  font-family: 'Castoro Titling', cursive;
}

.site-title {
  font-size: 2rem;
  font-family: 'Castoro Titling', cursive;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  /* background-color: #BB9B75; */
  color: #863A2C;
  text-decoration: underline;
}

.nav li:hover {
  /* background-color: #BB9B75; */
  color: #863A2C;
}

/* navigation end */


/* detailPage start */
.detailPage-container{
  display: flex;
  flex-direction: row;
  /* background-color: #888; */
}

.news-item {
  width: 60% ;
  /* background-color: #B5B48E; */
  margin-top: 2em;
  padding: 2em
}

.news-table-details {
  /* background-color: #B5B48E; */
  width: 50% ;
}

/* suggestion page start*/

.suggestion-container {
  /* display: flex; */
  background-color: #ecd8b2;
  flex-direction: column;
  width: 40%;
  margin: 2em;
  padding: 2em
}

.suggestion-item {
  justify-content: center;
  align-items: center;
}

.suggestion-table-details {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0; 
  overflow: hidden;
  background-color: #F6E3C3;
}
.suggestion-table-details thead tr {
  background-color: #DBC29A;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.suggestion-table-details th,
.suggestion-table-details td {
  padding: 12px 15px;
}
.suggestion-table-details tbody tr {
  border-bottom: 1px solid #DBC29A;
}
/* .suggestion-table-details tbody tr:nth-of-type(even) {
  background-color: #DBC29A;
} */

/* suggestion page end*/

.holidays-table-details {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 100%;
  border-radius: 5px 5px 0 0; 
  overflow: hidden;
  background-color: #F6E3C3;
}
.holidays-table-details thead tr {
  background-color: #DBC29A;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.holidays-table-details th,
.holidays-table-details td {
  padding: 12px 15px;
}
.holidays-table-details tbody tr {
  border-bottom: 1px solid #DBC29A;
}
/* .holidays-table-details tbody tr:nth-of-type(even) {
  background-color: #DBC29A;
} */

/* detailPage end */
.card-plan-profile{
  width: 20%;
  margin: 2%;
}

.plans-profile{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 3%;    
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.div-weathers{
  width: 100%;
  height: min-content;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row; 
  justify-content: space-between;
  align-content: space-between;
}

.div-weather{
  width: var(--weather-width);
  height: 100%;
  flex: 0 0 auto;
  margin: 0.5%;
  padding: 3% 0 0 0;
  border-style: solid;
  border-width: 1px;
  border-color: #863A2C;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: small;
  line-height: 80%;
}

.weather-temp-max{
  color: #FC4F00;
}

.weather-temp-min{
  color: #617A55;
}

.weather-icon{
  width: 70%;
  height: 70%;
}