#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  /* background-image: url("/images/travel.jpg"); */
}

/* .travelimage {
he} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

.input-destination {
  width: 100%;
}

.profile-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 100px; */
}


.profile-container>div{
  margin-left: 10px;
}

/* .text-center {
  text-align: center;
  vertical-align: middle;
} */

.search-bar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: aqua; */
  /* width: 500px; */
}

.search-bar-container>div{
    margin-top: 20px;
}

.destination-container {
  display: flex;
}

.search-item {
  /* margin-top: 20px; */
  /* background-color: #c83939; */
}
.search-suggestions {
  background-color: rgba(255, 255, 255, 0.87);
  position: relative;
  display:block;
}

/* .country-search {
  display: flex;
  min-width: 500px;
  margin: 0;
  padding: 0;
} */

/* .date-picker {
  display: flex;  
} */


input[type="search"].input-destination {
  -webkit-appearance: searchfield;
}

input[type="search"].input-destination::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.logo {
  cursor: pointer;
}

/* navigation start */

.nav-container {
  margin: 1rem;
  text-align: center;
}
.nav {
  background-color:  #ecd8b2;
  color: #595549;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  font-family: 'Castoro Titling', cursive;
}

.site-title {
  font-size: 2rem;
  font-family: 'Castoro Titling', cursive;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  /* background-color: #BB9B75; */
  color: #863A2C;
  text-decoration: underline;
}

.nav li:hover {
  /* background-color: #BB9B75; */
  color: #863A2C;
}

/* navigation end */

