#root {
  margin: 0 auto;
  background-color: #F9F2E0;
}

/* .travelimage {
he} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.input-destination {
  width: 100%;
}

.input-amount {
  /* text-align: center; */
  text-decoration: underline;
}

.profile-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 100px; */
}

.profile-container>div{
  margin-left: 10px;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: 100px; */
  align-items: stretch;
}

.destination-button{
  z-index: 2;
  width: 260px;
  height: 100%;
  /* background-color: rgb(109, 103, 92); */
}

.searchrange-button {
  width: 220px;
  height: 35px;
  /* background-color: rgb(124, 120, 111); */
}

.packbutton {
  z-index: 1;
  height: 35px;
}

.search-bar-container>div{
    margin-top: 20px;
    height: 40px;
}

.destination-container {
  display: flex;
}

.search-suggestions {
  background-color: rgba(255, 255, 255, 0.87);
  position: relative;
  /* display:block; */
}

.country-search {
  height: 32px;
}

input[type="search"].input-destination {
  -webkit-appearance: searchfield;
}

input[type="search"].input-destination::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.logo {
  cursor: pointer;
}

/* navigation start */
.nav-container {
  margin: 1rem;
  text-align: center;
}
.nav {
  background-color:  #ecd8b2;
  color: #47453f;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 2rem;
  font-family: 'Castoro Titling', cursive;
}

.site-title {
  font-size: 2rem;
  font-family: 'Castoro Titling', cursive;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  /* background-color: #BB9B75; */
  color: #863A2C;
  text-decoration: underline;
}

.nav--active {
  /* background-color: #BB9B75; */
  color: #863A2C;
  text-decoration: underline;
}

.nav li:hover {
  /* background-color: #BB9B75; */
  color: #863A2C;
}

/* navigation end */


/* detailPage left part start */
.detailPage-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  padding-top: 15px;
}

@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  
  .plan-title-name{
    line-height: 94%;
  }
  .new-holiday-title {
    height: 4rem;
  }
}


@media only screen and (max-width: 1000px) {
  
  .detailPageOutside-container{
    display: flex;
    justify-content: center;
  }

  .detailPage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 100%;
    width: 900px;
  }

  .weather-list-container {
    padding-left: 100px;
  }

  /* .plan-news-container, .weather-list-container{
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-items:center;
  } */

  .holiday-title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1.8rem;
   }
   
   .holiday-name {
     height: 1rem;
     /* margin-top: -1.4rem; */
   }
   
   .holiday-date-name {
    margin-top: -1.4rem;
    padding-bottom: 2.4rem;
   }

  .news.holiday, .news.one {
    height: 200px;
  }
  .news.two, .news.three {
    height: 200px;
  }

  .weather-list-container{
    width: calc(100% - 20px);
    margin-top: -30px;
  }
}


.addtoplan-container, .removetoplan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 5px;
}

.button-add-to-plan-detail {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40%;
  height: 40%;
}

.button-add-to-plan-detail img {
  width: 60px;
  height: 60px;
}

.addtoplan-title, .removetoplan-title {
  font-size: small;
  text-align: center;
  color: white;
  cursor: pointer;
}

.addtoplan-container, .removetoplan-container button:focus, button:active, button:hover {
  outline: none;
  box-shadow: none;
}
.button-add-to-plan-detail button:focus{
  outline: none;
  box-shadow: none;
}

.detailPage-container div{
  margin-bottom: 10px;
}

.plan-news-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}

.plan-title {
  display: flex;
  flex-direction: column;
  /* font-family: 'Castoro Titling', cursive; */
  color: white;
  width: 90%;
}

.plan-title-name {
  padding-top: 10%;
  font-family: 'Castoro Titling', cursive;
  font-size: 1.6rem;
  /* height: 70px; */
  color: white;
}

.plan-title-date {
  font-size: large;
  color: white;
}

.plan-news-container div{
  box-sizing: border-box;
  border-radius: 15px;
} 

.planandAdd-item{
  display: flex;
  height: calc(30% - 20px);
}

.plan-inside-item {
  /* padding: 20px; */
  margin: 0 10px 0 10px;
  background-color: #B5B48E;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.holiday-news-container{
  display: flex; /* 使用flexbox */
  flex-wrap: wrap; /* 設定flex容器可換行 */
  height: 70%;
}

.news {
  box-sizing: border-box;
  width: calc(50% - 20px);
  height:calc(50% - 20px); 
  margin: 10px;
  padding-left: 20px;
  background-color: #E8E8E8;
}

.news.holiday {
  display: flex;
  flex-direction: column;
  background-color:  #ecd8b2;
  height:calc(50% - 20px); 
  color: #6e6e6e;
}

.content-container {
  height: 70%;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hypelink-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.arrow-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: small;
  width: 100%;
  gap: 10px;
  text-decoration: none;
}

.arrow-text {
  text-decoration: none;
}

.arrow-button img {
  width: 10px;
  height: 10px;
}

.holiday-title {
 font-size: 3rem;
 font-weight: bold;
 margin-top: -1rem;
 /* line-height: 0.8; */
}

.plan-title-date{
 line-height: 0.6;
}

.holiday-name {
  font-size:  large;
  font-weight: bold;
  height: 1rem;
  margin-top: -1rem;
}

.holiday-date-name {
 display: flex;
 flex-direction: column;
 text-align: center;
 /* margin-top: -0.8rem; */
 padding-bottom: 2.2rem;
}

.news.holiday, .news.one {
  order: 1;
  padding-right: 20px;
  /* height: 100%; */
}
.news.two, .news.three {
  order: 2;
  padding-right: 20px;
  /* height: 100%; */
}

.new-holiday-title {
  font-family: 'Castoro Titling', cursive;
}

/* Detail page right part start */

/* suggestion page start*/
.suggestion-container {
  background-color: #B5B48E;
  height: calc(70% - 20px);
  width: 100%;
  margin: 10px 0px 0px 0px;
}

.suggestion-title-item {
  /* background-color: #e3e342; */
  height: 30px;  
  padding-left: 30px;
  font-family: 'Castoro Titling', cursive;
  font-size:large;
  color: white;
}
.suggestion-item {
  justify-content: center;
  align-items: center;
  height: calc(100% - 80px);
  margin: 0px 30px 0px 30px;
  /* position: relative; */
  overflow-y: scroll;
  background-color: #B5B48E;
}

.checkbox-suggestion{
  width: 15px;
  height: 15px;
}

 .checkbox-all{
  width: 15px;
  height: 15px;
  margin-bottom: -20px;
}

.suggestion-table-details {
  border-collapse: collapse;
  /* margin: 10px 0; */
  font-size: 0.9em;
  border-radius: 3px 3px 0 0; 
  background-color: #B5B48E;
  margin-bottom: 20px;
}

.suggestion-table-details thead tr {
  background-color: #ffffff;
  color: #B5B48E;
  text-align: left;
  font-weight: bold;
  font-size: small;
}

.suggestion-table-details th,
.suggestion-table-details td {
  padding: 5px 5px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  vertical-align: middle;
  /* text-align: center; */
}

.suggestion-table-details tbody tr {
  border-bottom: 1px solid #ffffff;
  color: white;
  text-align: left;
}

.button-add-item{
  color: white;
}

.input-amount {
  background-color: #B5B48E;
  outline: none;
  border: none;
  color: white;
  border-bottom: 1px #ffffff;
  text-align: left;
  /* width: 20%; */
}

.input-add-item {
  background-color: #B5B48E;
  outline: none;
  border: none;
  color: white;
  border-bottom: 1px #ffffff;
  text-align: left;
}

.button-delete-item, .button-add-item {
  color: white;
  margin-left: 10px;
  width: 10%;
}

.input-remark {
  background-color: #B5B48E;
  outline: none;
  border: none;
  color: white;
  border-bottom: 1px #ffffff;
  width: 50%;
  font-size: large;
  /* text-align: left; */
}

/* detailPage end */
.card-plan-profile{
  width: calc(100vh / 2.5);
  height: calc(100vh / 2.2);
  margin: 2%;
}

.img-card-plan-profile{
  object-fit: cover;
  height: calc(100vh / 4.2);
  width: calc(100vh / 3.2);
  background-color: #ecd8b2;
}

.plans-profile{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center ;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;    
  height: 100%;
  /* background-color: #989797; */
  /* padding: 0 10% 0 10%; */
}

.weather-list-container{
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  padding: 20px;
}

.weather-list-container div{
  border-radius: 15px;
}

.weather-container {
  background-color: #E8E8E8;
  height: calc(30% - 20px);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.weather-inside-item {
  background-color: #c07373;
}

.weather-title-item {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  height: 30%;
  font-size: large;
  content: attr(data-text);
}

.weather-title {
  width: 75%;
  font-family: 'Castoro Titling', cursive;
}

.nohoilday-item {
  padding-bottom: 1rem;
}

.div-weathers-warm {
  width: 25%;
  font-size: 5px;
  /* background-color: #863A2C; */
  padding-top: 20px;
  height: 100%;
  color: #838383
}

.div-weathers-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.div-weathers{
  height: 60%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row; 
  justify-content: space-between;
  align-content: space-between;
  margin: 0 5% 0 5%;
}

#remark-na {
  height: 30%;
  font-size: x-small;
  margin: 0 5% 0 5%;
  visibility: hidden;
}

.div-weather{
  display: flex;
  flex-direction: column; 
  width: var(--weather-width);
  height: 80%;
  flex: 0 0 auto;
  margin: 0 1% 0 0%;
  padding-bottom: 1%;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  font-size: small;
  /* line-height: 120%; */
  background-color: #ffffff;
}

.weather-pic {
  height: 30%;
}

.weather-temp-ranage {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 25%;
}

.weather-temp-max{
  color: #505050; 
  font-size: x-small; 
}

.weather-temp-min{
  color: #989797;
  font-size: x-small;
}

.weather-date {
  padding-top: 10%;
  height: 12%;
  font-size: medium;
}

.weather-icon{
  width: 40px;
  height: 40px;
}

.auth-error{
  color: #FC4F00;
}