:root {
  font-family: Avenir, Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #595549;
  background-color: #F9F2E0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

    /* color */
    --darkRed: #863A2C;
    --lightBrown: #BB9B75;
    --lightGreen: #B5B48E;
    --darkGreen: #A5A17A;
    --lightGray: #C4C0B7;
    --lightBrown: #DBC29A;  
 
    /* font size */
    --h1: 3.2em;
    --h2: 1.5em;
    --p1: 1.0em;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: #F9F2E0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  } */
  button {
    background-color: #f9f9f9;
  }
}


/*LandingPage Start*/
.start-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
}

.start-container>div {
  /* width: 50%; */
  /* height: auto; */
  vertical-align: middle;
  display: inline-block; 
}

.startL-container {
  width: 45%;
  margin-left: 60px;
  background-color: #ecd8b2;
  background-image: url(/travel.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60%;
}

.startL-container img {
  width: 500px;
  height: 400px;
}


.startR-container {
  display: flex;
  flex-direction: column;
  width: 55%;
  /* background-color: #897653; */
}
/*LandingPage End*/

.login-item {
  margin-right: 0px;
  margin-left: auto; 
}

.logo-item {
  padding: 40px;
}

.logo-login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecd8b2;
  margin-top: -20px;
}

.search-detail-item {
  /* padding: 15px; */
  /* width: auto; */
  background-color: #ecd8b2;
  /* width: 100%; */
  padding-bottom: 20px;
}

.searchblock-item {
  margin: 60px;
  align-items: center;
  width: 500px;
}

.mainContent {
    display: block;
    margin: auto;
    /* width: 200px; */
}

/* login/signup Start */
.login-page-wrapper {
  margin: 20px;
  margin-left: 90px;
  margin-right: 90px;
  font-family: 'Castoro Titling', cursive;
  background-color: #ecd8b2;
}
.login-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.login-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 20px;
}

.loginL-column {
  /* background-color: #ecd8b2; */
  background: url(/suitcases.png);
  /* background: url(../suitcases.png) no-repeat center center fixed; */
  height: 600px;
}

.LoginR-column {
  background-color: #ecd8b2;
  height: 600px;
}

.sign-button {
  /* width: 10%; */
  height: 0px;
  font-size:1rem;
  text-decoration: underline;
  padding: 5 0 0 0;
  border: none;
  background: none;
}
.sign-button:hover {
  /* background-color: #A5A17A; */
  text-decoration: underline;
}
.login-button {
  width: 60%;
  height: 45px;
  background-color: #B5B48E;
  font-size:1rem;
  margin-top: 30px;
}
.login-button:hover {
  background-color: #A5A17A;
}
label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px 0 5px;
  font-size: 0.9rem;
}
input {
  display: flex;
  flex-direction: column;
  height: 35px;
  width: 70%;
}

@media screen and (max-width: 820px) {
  .login-page-wrapper  {
    width: 350px;
  }
  .LoginL-column  {
    height: 100%;
    width: 100%;
  }
  .LoginR-column  {
    display: none;
  }
}
/* login/signup END */
